






body
{
    background-color: #EBDEF0  ;
}






  .navigation
  {
    background-color:#A569BD  ;
    height: 99px;

    border-bottom-left-radius: 1rem;
    padding: 1rem;

  }



  .active
  {
           /* padding-top: 50% */
      padding-left: 280PX;;
 font-size: 20PX;
      color: white;
      text-decoration: none;

  }


  .div1
  {
      color:#FDFEFE ;
      font-size: 25px;
  }


  .img1
  {
     max-width: 350px;
     display: block;
     padding: 2rem;
     padding-top: 5rem;
     margin-left:36%;;

  }

  .hero-heading
  {
      margin-left:39%;
  }



  .heading
  {
     margin-left:40%;;
  }

/*
  .span1

  {
      color: black;
      margin-left:39%;
      font-size: 27px;
  } */

.span1
{
   margin-left: 39%;
   font-size: 27px;
}
  .white
  {
     margin-left:30%;;
     margin-top: 10PX;
    font-size: 27px;
    /* line-height: 30px; */
       /* font-family:courier; */
  }


  .log1
  {
    margin-left: 30%;
    line-height: 30px;
    font-family:verdana;
  }



  .section1
  {
    background-color:#F5B7B1    ;
 padding-top: 20px;
 height: 280px;

  }



  .log2
  {
    margin-left: 30%;
    line-height: 30px;
   font-family:verdana;
  }


  .link-primary
  {
    background-color:#6C3483  ;
    padding: 0.5rem;
    text-decoration: none;
    color: white;
    margin-left: 45%;
    border-top-right-radius: 0.9rem;

  }
  .log3
  {

      margin-left: 30%;
      line-height: 30px;
     font-family:verdana;
  }
  .div3
  {
    background-color:#F5B7B1    ;
    height: 140px;
    padding-top: 20px;
  }

  .blog1
  {
    border: 1px solid #7c3AED;
    padding: 0.5rem;
    text-decoration: none;
    margin-left: 45%;
    color: #7c3AED;
        line-height: 30px;
   border-top-right-radius: 0.9rem;
  }
  footer
  {
    background-color: #A569BD ;
    height: 99px;
    /* margin-top: 10px; */
    border-bottom-left-radius: 1rem;
    padding: 1rem;
    padding-left: 40%
  /* line-height:20px; */
  }
  .div4
  {
    color: white;
    font-size: 20px;
  }
  .first
  {
    padding-top: 50px;
    padding-left: 1%;
    color: white;
    text-decoration: none;
    /* padding-left: 20px; */
      font-size: 20px;
  }
