






body
{
    background-color: #FEF5E7  ;
     font-family:georgia;
}






  .navigation
  {
    background-color:#DC7633  ;
    height: 99px;

    border-bottom-left-radius: 1rem;
    padding: 1rem;

  }





.active
{
  margin-left: 51rem;

  font-size: 31PX;

  text-decoration: none;
  color: white;

}


.active1
{
  margin-left: 10rem;
  text-decoration: none;
  font-size: 31PX;
  color: white;
}

.active2
{
  margin-left: 10rem;
  text-decoration: none;
  font-size: 31PX;
  color: white;



}

  .div1
  {
      color:#FDFEFE ;
      font-size: 25px;
  }


  .img1
  {
     max-width: 350px;

     padding: 4rem;
     padding-top: 5rem;
     margin-left:36%;
     background-color:#FEF5E7 ;


  }

  .hero-heading
  {
      margin-left:43%;
      font-size: 40px;

  }



  .heading
  {
     margin-left:40%;;
  }



.span1
{
   margin-left: 39%;
   font-size: 27px;
}




  .white
  {
     margin-left:32%;;
     margin-top: 10PX;
    font-size: 27px;
    color: #873600;

  }


  .log1
  {

    line-height: 30px;
    font-family:verdana;
    font-size: 20px;
  }



  .section1
  {

  padding-top: 10px;
   margin-left: 90px;
   padding-left: 10px;
   height: 340px;
   float: left;


  }
.section2
{
  float: left;

  height: 340px;
  padding-left: 10px;

  margin-left: 20px;
}

.div3
{
    border: 1px solid black
}

.log2
  {

    line-height: 30px;

    font-size: 20px;
  }


  .link-primary
  {
    background-color:#DC7633   ;
    padding:1.0rem;
    text-decoration: none;
    color: white;
    margin-left: 30%;
    border-top-right-radius: 0.9rem;
   font-size: 20px;
  }
  .log3
  {

      margin-left: 30%;
      line-height: 30px;
     /* font-family:verdana;/ */
       font-size: 20px;
  }


.section3
{
  /* border: 1px solid black; */
/* margin-left: 40px; */
}


.blog1
{

  margin-left: 78%;
  background-color: #DC7633  ;
  padding:0.9rem;
  text-decoration: none;
  color: white;
  text-align: center;
  border-top-right-radius: 0.9rem;
}


  footer
  {
    background-color: #FF7F50 ;
    height: 99px;

    border-bottom-left-radius: 1rem;
    padding: 1rem;
    padding-left: 40%

  }
  .div4
  {
    color: white;
    font-size: 20px;
  }
  .first
  {
    padding-top: 60px;
    padding-left: 1%;
    color: white;
    text-decoration: none;

    font-size: 30px;
  }

  .span2
  {
    color: #873600;
  }
 .Ps-heading
  {
    margin-left: 43%;
  }
  small
  {
    margin-left: 45%;
  }
#first-para
  {
    margin-left: 30%;
    font-size: 20px;

  }
#active-contianer
{

    margin-left: 40%;
    padding-left: 40px;
    background-color: #DC7633 ;
    border-radius: 15px;
    font-size: 20px;
    padding: 0.8rem;
    text-decoration: none;
    color:white;

}
#active-contianer1
{
    border: 1px solid #DC7633;
        border-radius: 15px;
        font-size: 20px;
       padding: 0.8rem;
        text-decoration: none;
        color: #DC7633;

}
#container1
{
  /* background-color:#D5D8DC  ; */
  height: 200px;
}
.Pb-heading
{
    margin-left: 43%;
    color:#873600;
}

#container2
{
 height: 250px;
  background-color: #EDBB99 ;
}
